body {
    background-color: #121212;
    color: #DEE2E6;
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 97vh;
}

#nums {
    max-width: 30rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    color: #121212;
}

.num {
    margin: 1rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: olivedrab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: turquoise;
}

.red {
    background-color: #cf6679;
}

.o {
    background-color: #cf6679;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 80vw;
}


#operations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#opermid {
    display: flex;
    justify-content: space-between;
    min-width: 15rem;
}

.ops {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12%;
    color: #121212;
    font-size: 30px;
    font-weight: bold;
}

#control {
    display: flex;
    flex-direction: column;
    border-color: red;
    align-items: center;
    justify-content: center;
}
#controlmid {
    display: flex;
    justify-content: space-between;
    min-width: 15rem;
}

.con {
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12%;
    color: #121212;
    font-size: 30px;
    font-weight: bold;
}

a {
    color: turquoise;
    font-weight: bold;
}

a:hover {
    color: #cf6679;
    transition: .5s;
}

img {
    margin-left: 5px;
}



#box {
    height: 12rem;
    width: 30rem;
    padding: 15px;
    border: .5rem solid #3c4048;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#topbox {
    height: 2rem;
    margin-right: 1rem;
    padding-top: .2rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    word-wrap: break-word;
    word-break: break-all;
}

#botbox {
    font-size: 2.5rem;
    padding: .5rem;
        word-wrap: break-word;
    word-break: break-all;
    
}

.but:active {
    background-color: white;
}

img:hover {
    transform: rotate(30deg);
}